html{padding-bottom:15px}body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,button,input,textarea,th,td{padding:0;margin:0}body{font:12px/1.125 "Microsoft Yahei",Arial,Helvetica,sans-serif;color:#333;background-color:#f4f4f4;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}body{overflow-x:hidden}input,select,img{vertical-align:middle}input{outline:none;border-radius:0;-webkit-appearance:none;box-shadow:none;margin:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none}a{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:transparent;text-decoration:none;color:#333}input[type=submit]{border:none}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}ul,ol{list-style:none}a:hover{text-decoration:none}cite,dfn,em,i{font-style:normal}
.gameDate,.downDate p,.gameDate a{color:gray}
.gameDate .title,.downDate .title{font-size:18px;color:#333;margin-bottom:9px}
.gameDate{font-size:15px;padding:20px 5px 20px 12px}
.gameDate .title{margin-bottom:5px}
.gameDate .title .reco{display:inline-block;width:19px;height:20px;background-position:-100px -28px}
.gameDate .title h1{display:inline-block;vertical-align:middle;font-size:100%;font-weight:100;height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.gameDate .avatar{float:left;width:65px;height:66px;margin-right:15px}
.gameDate .mate{margin:0 0 0 72px;overflow:hidden}
.gameDate .mate .game-sort{padding:0}.gameDate .star{margin-bottom:5px}
.gameDate .class{height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.gameDate .class a{margin:0 3px}.otherDown .game-sort2 li:last-child{border-bottom:none}
.whiteBg{background-color:#fff}
.game-sort{overflow:hidden;padding:14px 14px 0 14px;-webkit-tap-highlight-color:transparent}
.game-sort li{width:50%;height:61px;overflow:hidden;float:left;margin-bottom:20px;-webkit-tap-highlight-color:transparent}
.game-sort li.channel{padding-bottom:0;margin-bottom:0;border-bottom:none}
.game-sort img{float:left;margin-right:5px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.game-sort .info{display:table-cell;margin-top:5px}
.game-sort .info a{display:block;max-height:36px;overflow:hidden;font-size:1.2em;font-weight:100;line-height:1.4;display:block}
.game-sort .star{width:62px;height:11px;display:block;position:relative;background-position:0 -47px;margin-top:5px}
.game-sort .star .g-ico{width:0;height:11px;display:block;position:absolute;left:0;top:0;background-position:0 -61px}
.game-sort .star .leave1{width:10%}
.game-sort .star .leave2{width:20%}
.game-sort .star .leave3{width:30%}
.game-sort .star .leave4{width:40%}
.game-sort .star .leave5{width:51%}
.game-sort .star .leave6{width:62%}
.game-sort .star .leave7{width:71%}
.game-sort .star .leave8{width:81%}
.game-sort .star .leave9{width:92%}
.game-sort .star .leave10{width:100%}
.game-sort2{padding:16px 0 0 0}
.game-sort2 li{width:auto;float:none;padding:0 0 14px 14px;border-bottom:1px solid #e6e6e6;overflow:hidden}
.game-sort3 li{position:relative}
.game-sort3 .fl{float:none;display:block;width:100%;height:100%;position:absolute;left:0;top:0}.game-sort3 .info{display:block;height:56px;padding:0 0 0 65px}
.fr{float:right}
.fl{float:left}.m-wrap{margin:0 10px}
.m-case{background:#FFF;padding-bottom:15px;box-shadow:4px 4px 7px #CCC}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both}
.g-ico,.g-start{display:inline-block;vertical-align:middle}
.download{padding:2.4rem 0 1rem 0;width:230px;margin-left:auto;margin-right:auto;}
.download a{text-align:center;font-size:18px;width:220px;height:43px;line-height:1px;}
.download img{width:41px;height:41px;vertical-align:middle;margin-top:1px;margin-right:5px;margin-left:1px}
.btn{display:block;height:80px;line-height:80px;background-color:#22B573;font-size:24px;color:#FFF;position:relative;text-align:center}
.btn{font-size:1.8rem;display:inline-block;color:white;min-width:100%;height:4.8rem;line-height:4.8rem;border-radius:4.8px;padding-right:1rem}
.down-main{background-color:#cdb17e}
.intro{background:#fff;padding:10px 5px 20px 12px;font-size:14px}
.intro .hd{font-size:16px;font-weight:bold}
.intro .discript{clear:both;line-height:24px;margin-top:11px;overflow:hidden;height:123px}
.intro .lookMore{float:right;display:inline-block;padding:10px;-webkit-tap-highlight-color:transparent}
.footer{font-size:14px;text-align:center;margin:25px 0 0 0}
.footer p:first-child{line-height:21px}
.footer p:last-child{margin-top:15px}
